<section id="enp-tree" class="enp-tree">
    <div class="enp-tree__intro">
        <h2>{{title}}</h2>
        <!--<a class="enp-tree__start" href="#enp-tree__destination--1">{{startButton}}</a>-->
    </div>

    {{#if questions}}
        {{#each questions}}
            {{#if group_id}}
                {{#starts_group question_id group_id ../groups}}
                    <div class="enp-tree__group">
                        <h3 class="enp-tree__group-title">{{group_id}}</h3>
                {{/starts_group}}
            {{/if}}
            <section id="enp-tree__destination--{{question_id}}" class="enp-tree__question" >
                <h4 class="enp-tree__question-title">{{upper title}}</h4>
                {{#if options}}
                    <ul class="enp-tree__options">
                        {{#each options}}
                            <li id="enp-tree__option--{{option_id}}" class="enp-tree__option"><a class="enp-tree__option-link"  href="#enp-tree__destination--{{destination_id}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                {{/if}}
            </section>

            {{#if group_id}}
                {{#ends_group question_id group_id ../groups}}
                    </div>
                {{/ends_group}}
            {{/if}}
        {{/each}}
    {{/if}}


</section>
