<section id="enp-tree--{{{tree_id}}}" class="enp-tree enp-tree--{{{environment}}}">
    <div id="enp-tree__intro--{{{tree_id}}}" class="enp-tree__intro">
        <h2 class="enp-tree__title enp-tree__title--tree">{{{title}}}</h2>
        {{#if starts}}
            <div class="enp-tree__start-container">
                {{#each starts}}
                    <p><a id="enp-tree__el--{{start_id}}" class="enp-tree__btn enp-tree__start" href="#enp-tree__el--{{{destination_id}}}">{{{title}}}</a></p>
                    {{#if content}}
                        <div class="enp-tree__description enp-tree__description--start">
                            {{content}}
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
    </div>
    <div id="enp-tree__content-window--{{{tree_id}}}" class="enp-tree__content-window">
        <div id="enp-tree__content-panel--{{{tree_id}}}" class="enp-tree__content-panel">
        {{#if questions}}
            <div class="enp-tree__questions">
                {{#each questions}}
                    {{#if group_id}}
                        {{#group_start question_id group_id ../groups}}
                            <div id="enp-tree__el--{{{group_id}}}" class="enp-tree__group">
                                <h3 class="enp-tree__title enp-tree__title--group">{{group_title}}</h3>
                        {{/group_start}}
                    {{/if}}
                    <section id="enp-tree__el--{{{question_id}}}" class="enp-tree__question" tabindex="0">
                        <h4 class="enp-tree__title enp-tree__title--question">{{title}}</h4>
                        {{#if content}}
                            <div class="enp-tree__description enp-tree__description--question">{{content}}</div>
                        {{/if}}
                        {{#if options}}
                            <ul class="enp-tree__options">
                                {{#each options}}
                                    <li class="enp-tree__option"><a class="enp-tree__option-link" id="enp-tree__el--{{{option_id}}}" href="#enp-tree__el--{{{destination_id}}}">{{title}}</a></li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </section>

                    {{#if group_id}}
                        {{#group_end question_id group_id ../groups}}
                            </div>
                        {{/group_end}}
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}

        {{#if ends}}
            <div class="enp-tree__ends">
                {{#each ends}}

                    <section id="enp-tree__el--{{{end_id}}}" class="enp-tree__end" tabindex="0">
                        <h3 class="enp-tree__title enp-tree__title--end">{{{title}}}</h3>
                        {{#if content}}
                            <div class="enp-tree__description enp-tree__description--end">{{content}}</div>
                        {{/if}}

                        <ul class="enp-tree__end-options">
                            <li class="enp-tree__end-option">
                                <a id="enp-tree__restart--{{end_id}}" class="enp-tree__btn enp-tree__btn--retry" href="#enp-tree__el--{{{../questions.0.question_id}}}">Start Again</a>
                            </li>
                            <li class="enp-tree__end-option">
                                <a id="enp-tree__overview--{{end_id}}" class="enp-tree__btn enp-tree__btn--overview" href="#enp-tree--{{{../tree_id}}}">Go to Overview</a>
                            </li>
                        </ul>
                    </section>
                {{/each}}
            </div>
        {{/if}}
    </div>

</section>
